<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </a>
    <span>My app</span>
    <span class="example-spacer"></span>
    <a routerLink="/signup" mat-icon-button class="example-icon ml20 mr20 " aria-label="Example icon">
        Registor
    </a>
    <div class="ml10 mr10"></div>
    <a routerLink="/login" mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon">
        <!-- <mat-icon>login</mat-icon> -->
        Login
    </a>

    <!-- <span><a mat-icon-button routerLink="/">Login App</a></span>
    <span class="example-spacer-gy"></span>
    <a routerLink="/login">Login</a> -->
</mat-toolbar>